{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-unused-vars": ["warn", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }],
        "eqeqeq": ["warn", "always"],
        "indent": ["warn", 4],
        "max-len": ["warn", { "code": 140, "ignoreUrls": true, "ignoreRegExpLiterals": true }],
        "quotes": ["warn", "single"],
        "semi": ["error", "always"]
    }
}
